// .reservation-card {
//   display: flex;
//   flex-wrap: wrap;
// }

// .section {
//   flex: 1 0 50%;
//   max-width: 50%;
//   padding: 20px;
//   box-sizing: border-box;
// }

// .section h3 {
//   margin-bottom: 10px;
//   color: #333;
// }

// .info-table {
//   padding: 20px;
//   background-color: #fff;
//   border: 1px solid #ccc;
//   border-radius: 5px;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
// }

// .info-table table {
//   width: 100%;
//   border-collapse: collapse;
// }

// .info-table th,
// .info-table td {
//   padding: 10px;
//   text-align: left;
//   border-bottom: 1px solid #ccc;
// }

// .info-table th {
//   background-color: #f5f5f5;
//   font-weight: bold;
// }

// .no-reservation {
//   text-align: center;
//   padding: 20px;
//   box-sizing: border-box;
//   background-color: #f5f5f5;
//   border: 1px solid #ccc;
//   border-radius: 5px;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
// }

// .no-reservation h1 {
//   color: #333;
//   margin: 0;
// }


.reservation-card {
  display: flex;
  flex-wrap: wrap;
}

.section {
  flex: 1 0 50%;
  max-width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.section h3 {
  margin-bottom: 10px;
  color: #333;
}

.info-table {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-table table {
  width: 100%;
  border-collapse: collapse;
}

.info-table th,
.info-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.info-table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.no-reservation {
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.no-reservation h1 {
  color: #333;
  margin: 0;
}
