// .demo-inline-spacing {
//     // display: flex;
//     // flex-wrap: wrap;
//     justify-content: flex-start;
//     align-items: center;
//     // width: 750px;
//     // margin: auto;
//     // background-color: palevioletred;
//     & > * {
//       margin-right: 1.5rem;
//       margin-top: 2.5rem;
//     }
//   }

  .color{
    font-family:'Montserrat', 'Helvetica', 'Arial', 'serif';
    align-items: center;
    padding-left: 200px;
    // background-color:#7367F0;
  }
  // .button{
  //   font-family:'Montserrat', 'Helvetica', 'Arial', 'serif';
  //   align-items: center;
    
  // }

.table{
    align-items: center;
}
 
 
  