body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;

  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    height: 90vh;
    box-sizing: border-box;

  }
  
  .login-header {
    text-align: center;
  }
  
  .header-image {
    width: 230px;
    height: auto;
    margin-bottom: 70px;
  }
  
  h1 {
    font-size: 24px;
    color: #000;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 16px;
    color: #7d7d7d;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 14px;
    color: #000;
    margin-bottom: 5px;
  }
  
  .input-field {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .next-button {
    width: 100%;
    max-width: 300px;
    background-color: #ee4e4e;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .next-button:hover {
    background-color: #ff5733;
  }
  
  .footer-text {
    font-size: 12px;
    color: #7d7d7d;
    text-align: center;
    margin-top: 20px;
  }
  
  .terms-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .terms-link:hover {
    text-decoration: underline;
  }

  .passcode-input {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .passcode-fields {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .passcode-field {
    width: 35px;
    height: 35px;
    font-size: 24px;
    text-align: center;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .passcode-field:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  .register-button {
    margin-top: 20px;
    width: 100%;
    max-width: 320px;
    background-color: #ee4e4e;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 5px;
  }

  
  
  