// .fixed-header, .fixed-footer{
//     width: 210mm;
//     position: fixed;  
//     background: #ffffff;
//     // padding: 10px 0;
//     color: black;
//     }

// .fixed-header{
//     top: 2%;
//     // border: 1px solid black;
// }
// .fixed-footer{
//     bottom: 0;
// }
// .container{
//     width: 100%;   
//     // margin: 0 auto; /* Center the DIV horizontally */
// }

// .body{ 
//     width: 210mm;       
//     // padding-top: 305px;
//     // padding-bottom: 250px;
//     // margin-left: 40px;
// }